*.mod
*.o
*~
*.diff
*.a
*.exe
*.protex
*.xmltex
*.aux
*.toc
*.dvi

bin/
lib/

gitinfo.txt
CON/Control/src/show_git_info.h

BATL/
SWPCTEST
SWMFSOLAR

run*
Makefile.conf
Makefile.def
Makefile.RULES
Makefile.DEPEND
Tmp_*/
test_swmf.res
test_swmf.log

doc/MAINTENANCE.pdf
doc/PHYSICS.pdf
doc/REFERENCE.pdf
doc/SOFTWARE_STANDARD.pdf
doc/SWMF.pdf
doc/SWPC.pdf
doc/TESTING.pdf
doc/Tex/BATSRUS_SCRIPTS.tex
doc/Tex/MAINTENANCE.log
doc/Tex/PHYSICS.aux
doc/Tex/PHYSICS.log
doc/Tex/PHYSICS.toc
doc/Tex/REFERENCE.log
doc/Tex/SOFTWARE_STANDARD.log
doc/Tex/SWMF.log
doc/Tex/SWMFREF.tex
doc/Tex/SWMFXML.tex
doc/Tex/SWPC.XML
doc/Tex/SWPC.log
doc/Tex/SWPCXML.tex
doc/Tex/TESTING.log

CZ/FSAM/

EE/BATSRUS/Config.pl
EE/BATSRUS/dataCRASH
EE/BATSRUS/srcBATL/
EE/BATSRUS/PARAM.XML
EE/BATSRUS/RenameList.pl
EE/BATSRUS/src/
EE/BATSRUS/srcEquation/
EE/BATSRUS/srcInterface/ModBuffer.f90
EE/BATSRUS/srcInterface/ModGridDescriptor.f90
EE/BATSRUS/srcUser/

GM/BATSRUS/

IE/Ridley_serial/
IE/SIM/

IH/BATSRUS/Config.pl
IH/BATSRUS/dataCRASH
IH/BATSRUS/srcBATL/
IH/BATSRUS/PARAM.XML
IH/BATSRUS/RenameList.pl
IH/BATSRUS/src/
IH/BATSRUS/srcEquation/
IH/BATSRUS/srcInterface/ModBuffer.f90
IH/BATSRUS/srcInterface/ModGridDescriptor.f90
IH/BATSRUS/srcUser/

IM/CIMI/
IM/HEIDI/
IM/RCM/
IM/RCM2/

OH/BATSRUS/Config.pl
OH/BATSRUS/dataCRASH
OH/BATSRUS/srcBATL/
OH/Empty/src/OH_wrapper.f90
OH/BATSRUS/PARAM.XML
OH/BATSRUS/RenameList.pl
OH/BATSRUS/src/
OH/BATSRUS/srcEquation/
OH/BATSRUS/srcInterface/ModBuffer.f90
OH/BATSRUS/srcInterface/ModGridDescriptor.f90
OH/BATSRUS/srcInterface/OH_wrapper.f90
OH/BATSRUS/srcUser/

RB/RBE/

SC/BATSRUS/Config.pl
SC/BATSRUS/data
SC/BATSRUS/dataCRASH
SC/BATSRUS/srcBATL/
SC/Empty/src/SC_wrapper.f90
SC/BATSRUS/PARAM.XML
SC/BATSRUS/RenameList.pl
SC/BATSRUS/src/
SC/BATSRUS/srcEquation/
SC/BATSRUS/srcInterface/ModBuffer.f90
SC/BATSRUS/srcInterface/ModGridDescriptor.f90
SC/BATSRUS/srcInterface/SC_wrapper.f90
SC/BATSRUS/srcUser/

SP/FLAMPA/Makefile.def.orig
SP/FLAMPA/data
SP/Kota/data
SP/MFLAMPA/

PC/IPIC3D/
PC/IPIC3D2/
PC/ALTOR/
PC/AMPS/
PC/FLEKS/

PS/DGCPM/

PT/AMPS/
PT/FLEKS/

PW/PWOM/

UA/GITM/
UA/GITM2/
UA/MGITM/

share/
util/
