/** 
 * style.css
 *
 * This is the main style sheet (CSS)
 * that controls the look and layout of the MAPSview
 * site.  It is included in every page of the site.
 */

body, td, th
{
	font-family: Verdana, Arial; 
	font-size: 12px;
	margin-right:  0px;
	margin-left:   0px;
	margin-top:    0px;
	margin-bottom: 0px;	
}
 
.cmp
{
        font-weight: bold;
	background-color: lightblue;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-top: 6px;
}
 
.selected
{
        font-weight: bold;
	background-color: lightblue;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
 
.unselected
{
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
 
.indent
{
	margin-left: 25px;
}

#main
{
	margin-top: 60px;
	margin-left: 220px;
	margin-right: 50px;
}	

#main2
{
	margin-top: 60px;
	margin-left: 220px;
	margin-right: 170px;
}	

#frontpage
{
	margin-top: 105px;
	margin-left: 50px;
	margin-right: 50px;
}

#fullwidth
{
	margin-top: 75px;
}


#leftnavbar
{
	position: absolute;
	top: 25px;
	left: 0px;
	width: 210px;
	z-index: 1;
}

#righticonbar
{
	position: absolute;
	top: 40px;
	right: 5px;
	width: 150px;
	z-index: 1;
}


#topnavbar
{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: right;
	width: 100%;
}

#footer
{
	font-size: 10px;	
}

h1
{
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}

h2
{
	font-size: 16px;
	margin: 0px;
	margin-left: 6px;
}

h3
{
	font-size: 12px;
	margin: 0px;
}

textarea
{
	font-family: Courier; 
	font-size: 12px;
        background-color: #EEEEEE;
}

#smallfont
{
	font-size: 10px;
}

hr
{
	width: 90%;
	text-align: center;
}

.underlined
{
	border-color: darkblue; 
	border-style: solid; 
	border-bottom-width: 4px; 
	border-top-width: 0px; 
	border-left-width: 0px; 
	border-right-width: 0px;
	padding-bottom: 6px;	
}

.underlined.debug
{
	border-color: darkred; 
}

/** Classes that turn a list of links into a navigation bar */
.navlist
{
	display: block;
	overflow: hidden;
	border: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	padding: 0px;
}	

.navlist h3, .navlist h4
{
        font-weight: bold;
	color: darkgrey;
        background-color: darkblue;
        text-decoration: none;
	line-height: 20px;
        border: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 10px;
}

.navlist ul
{
	background-color: darkblue;
	list-style: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.navlist ul li
{
	display: block;
	/*
	margin-top: 5px;
	margin-bottom: 5px;
	*/
	border: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	padding: 0px;

}

.navlist ul li a
{
        font-weight: bold;
	color: white;
        background-color: darkblue;
        text-decoration: none;
	line-height: 20px;
        border: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: 0px;
        padding: 0px;
}

.navlist ul ul
{
	background-color: lightblue;
	list-style: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
	padding-left: 19px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.navlist ul ul li
{
	display: block;
	/*
	margin-top: 5px;
	margin-bottom: 5px;
	*/
	border: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	padding: 0px;

}

.navlist ul ul li a
{
        font-weight: bold;
	color: darkblue;
        background-color: lightblue;
        text-decoration: none;
	line-height: 20px;
        border: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: 0px;
        padding: 0px;
}


#topnavbar a
{
	font-weight: bold;
	color: white;
	background-color: darkblue;
	text-decoration: none;
	margin-right: 0px;
	padding-right: 0px;
	border-color: darkblue;
	border-style: solid;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-right-width: 3px;
}

.navlist ul li:hover
{
	text-decoration: underline;
	color: white;
}

.navlist ul li a:hover, #topnavbar a:hover
{
	text-decoration: underline;
	color: white;
}



