*.mod
*.o
*~
*.a
*.exe
*.diff
run*/
share/
util/
data
Makefile.conf
Makefile.def
Makefile.RULES
Makefile.DEPEND
stand_alone.f90
BATL_size.f90
ModSize.f90
ModUser.f90
ModUser.f90.safe
ModEquation.f90
ModEquation.f90.safe
ModHdf5.f90
ModImplHypre.f90
Tmp_*

src/calc_chemical_equilibrium_planet.f90
src/get_rate_planet.f90
src/getcfeh2_planet.f
Makefile.planet
src/Makefile.planet
src/ModCommonPlanet_planet.f90
src/ModGlow_planet.f90
src/PLANET
src/PhotoElectronPW_planet.f
src/chap_planet.f
src/clfmhe_planet.f
src/collisionPW_planet.f
src/cvmgp_planet.f
src/fieldm_planet.f
src/ggm_planet.f
src/glowex_planet.f
src/neutral_atmosphere_planet.f90
src/precipitationPW_planet.f
src/prntCollision_planet.f
src/prnthe_planet.f
src/rcolum_planet.f
src/solzen_planet.f
src/sperfc_planet.f
src/ssflux_planet.f
src/startupPW_planet.f
src/suncor_planet.f
src/upper_heat_conduction_planet.f90
src/vcd_planet.f
